body {
    font-size: 16px;
    line-height: 1.87;
    -webkit-font-smoothing: antialiased;
    color: #202124;
    background-color: #fff;
    font-family: Roboto, arial,sans-serif !important;
}

body::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50vw;
    height: 50vh;
    background: url(./amp-lines-motions.png) left bottom no-repeat;
    background-size: 42vw auto;
    transform: rotate(150deg) translate(35%, -20%);
    opacity: .5;
}


.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal {
    color: #202124;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
    font-family: Roboto, arial, sans-serif !important;
    font-weight: 800;
}

.reveal h2 {
    color: #fff;
    transform: skewX(-10deg);
    background: linear-gradient(36deg, #0dd3ff, #0389ff, #1c79c0);
    padding: 10px;
    font-weight: 100;
}

.reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: rgba(42, 121, 197, 1.00);
}

img.company-logo {
    height: 80px;
    display: inline-block !important;
    vertical-align: middle !important;
}

img.amp-logo {
    height: 400px;
    display: inline-block !important;
    vertical-align: middle !important;
}

.company-logo.tw {
    height: 70px;
}

.company-logo.freecodecamp {
    height: 20px;
}
}
